html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

body { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

body { font-size: 100%; line-height: 1.375em; }

html > body { font-size: 16px; }

html, body { min-height: 100%; }

body { font-family: sans-serif; color: #4f4f4f; background: #333; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

.print_only { display: none; }

.visuallyhidden { visibility: hidden; height: 0px; width: 0px; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; color: #54524e; font-family: sans-serif; font-weight: 300; }

hr { height: 0px; padding: 0; margin-bottom: 0.688em; margin-top: 0.688em; border: none; border-bottom-style: solid; border-bottom-width: 0.063em; padding-bottom: 1.313em; border-color: #ccc; }

blockquote { padding: 1.375em 1.375em 1.375em 5.5em; background: #efefef; margin-bottom: 1.375em; margin-top: 1.375em; position: relative; }
blockquote:before { content: '\201C'; font-size: 200px; line-height: 200px; vertical-align: text-bottom; display: block; position: absolute; top: 0px; left: 0px; }

pre { background: rgba(255, 255, 0, 0.1); margin-bottom: 0.688em; margin-top: 0.688em; padding: 0.688em 1.375em; border-color: rgba(0, 0, 0, 0.2); border-style: dotted; border-width: 0.063em; padding: 1.313em; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0))); background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); background-image: -o-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); background-image: -ms-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)); }

ul { list-style: disc; }

ol { list-style: decimal; color: red; padding-bottom: 1.375em; }
ol li { color: #4f4f4f; }

ol + h2 { padding-top: 0; }

p + p { padding-top: 1.375em; }

p + ul, p + ol, p + dl { padding-top: 1.375em; }

a { color: #069; text-decoration: none; border-bottom: 1px dotted #069; }
a:hover { color: #0092DD; border-bottom: 1px solid #0092DD; }

dl dt { font-weight: bold; }
dl dd { padding-left: 1.375em; padding-bottom: 1.375em; }

em { font-style: italic; }

strong { font-weight: bold; }

code { font-family: monospace; font-size: 0.938em; line-height: 0em; color: #BC5401; }

figure { position: relative; }

figure img, figure object, figure embed, figure video { max-width: 100%; display: block; }

img { border: 0; -ms-interpolation-mode: bicubic; }

.wrapper { width: 320px; box-sizing: border-box; height: 480px; margin: 50px auto; background: #f2f1ee; box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.2); }

div.status { height: 168px; padding: 22px 22px 0 22px; }
div.status h1 { font-size: 18px; line-height: 25px; }

ul.answers { list-style: none; margin: 0 22px 0 0; padding: 0; }
ul.answers li { padding: 0; width: 77px; margin-left: 22px; float: left; text-align: center; font-size: 13px; font-weight: bold; text-shadow: 0px -1px 1px rgba(255, 255, 255, 0.2); }
ul.answers li img { display: block; width: 77px; height: 77px; margin-bottom: 5px; }
