//	******************************************************************
//	Compass Framework
//	******************************************************************
	
@import
	"compass/reset",
	"compass/utilities",
	"compass/css3",
	"compass/typography/vertical_rhythm",
	"compass/layout/grid-background";


//	******************************************************************
//	Global Variables
//	******************************************************************
	
// Vertical Rhythm
$base-font-size: 16px;
$base-line-height: 22px;

// Debug Vertical Grid
$debug: 0;
$grid-background-baseline-height: 1.44444444em;
$grid-background-baseline-color: rgba(255, 0, 0, 0.4);

// Typefaces
$font-family: sans-serif;
$heading-font-family: sans-serif;

// Text Colors
$text-color: #4F4F4F;
$heading-color: #54524E;

$gutter: 22px;

//	******************************************************************
//	Base Styles
//	******************************************************************

// Sets body font size based on vertical rhythm
@include establish-baseline($base-font-size);

html, body {
	min-height: 100%;	
}

body {
	font-family: $font-family;
	color: $text-color;
	background: #333;

	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;

}

//	******************************************************************
//	Imports
//	******************************************************************
@import
	"tools",
	"typography";


//	******************************************************************
//	Main Layout
//	******************************************************************

.wrapper {
	width: 320px;
	
	box-sizing: border-box;
	height: 480px;
	margin: 50px auto;
	background: #f2f1ee;
	box-shadow: 0px 0px 44px rgba(0,0,0,0.2);
}

div.status {
	height: 168px;
	padding: $gutter $gutter 0 $gutter;

	h1 {
		font-size: 18px;
		line-height: 25px;
	}
}

ul.answers {
	list-style: none;
	margin: 0 22px 0 0;
	padding: 0;
	li {
		padding: 0;
		width: 77px;
		margin-left: 22px;
		float: left;
		text-align: center;
		font-size: 13px;
		font-weight: bold;
		text-shadow: 0px -1px 1px rgba(255,255,255,0.2);
		img {
			display: block;
			width: 77px;
			height: 77px;
			margin-bottom: 5px;
		}

	}
}

