//	******************************************************************
//	Compass Framework
//	******************************************************************
	
@import
	"compass/reset",
	"compass/utilities",
	"compass/css3",
	"compass/typography/vertical_rhythm",
	"compass/layout/grid-background";


//	******************************************************************
//	Global Variables
//	******************************************************************
	
// Vertical Rhythm
$base-font-size: 16px;
$base-line-height: 22px;

// Debug Vertical Grid
$debug: 0;
$grid-background-baseline-height: 1.44444444em;
$grid-background-baseline-color: rgba(255, 0, 0, 0.4);

// Typefaces
$font-family: sans-serif;
$heading-font-family: sans-serif;

// Text Colors
$text-color: #4F4F4F;
$heading-color: #54524E;

$gutter: 22px;

//	******************************************************************
//	Base Styles
//	******************************************************************

// Sets body font size based on vertical rhythm
@include establish-baseline($base-font-size);

html, body {
	min-height: 100%;	
}

body {
	font-family: $font-family;
	color: $text-color;
	background: #333;

	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;

}

//	******************************************************************
//	Imports
//	******************************************************************
@import
	"tools",
	"typography";


//	******************************************************************
//	Main Layout
//	******************************************************************

.wrapper {
	width: 320px;
	
	box-sizing: border-box;
	height: 480px;
	margin: 50px auto;
	background: #f2f1ee url('/assets/white_plaster.png') 0px 0px repeat;
	box-shadow: 0px 0px 44px rgba(0,0,0,0.2);
}

header {


	padding: 11px;
	height: $gutter;
	position: relative;
	a {
		display: inline-block;
		background: #069;
		padding: 0px 10px;
		height: $gutter;
		line-height: $gutter;
		color: #fff;
		font-size: 13px;
		font-weight: bold;
	}

	div#score {
		position: absolute;
		top: 11px;
		right: 11px;
		text-align: right;
		width: 200px;
		font-size: 18px;
		color: #aaa;
		height: $gutter;
		line-height: $gutter;
	}
}

div.status {
	height: 268px;
	padding: $gutter $gutter 0 $gutter;
	position: relative;
	h1 {
		font-size: 22px;
		line-height: 30px;
	}

	p {
		font-size: 13px;
		color: #ccc;
		font-weight: bold;
		text-align: left;
		/*
		padding: 0px 0 0 0;
		position: absolute;
		bottom: $gutter;
		left: $gutter + 2;
		*/
		padding: 11px 0 0 0;
	}
}

ul.answers {
	list-style: none;
	margin: 0 22px 0 0;
	padding: 0;

	li {
		padding: 0px 0 0 0;
		width: 77px;
		margin-left: 22px;
		float: left;
		text-align: center;
		font-size: 13px;
		font-weight: bold;
		text-shadow: 0px -1px 1px rgba(255,255,255,0.2);
		img {
			display: block;
			width: 77px;
			height: 77px;
			margin-bottom: 5px;
			border-radius: 20%;
			box-shadow:
				0px -1px 2px rgba(0,0,0,0.2),
				0px 1px 2px rgba(255,255,255,0.2)
			;
		}

		position: relative;
		width: 77px;
		height: 90px;

		.front, .back {
			position: absolute;
			top: 0;
			width: 100%;
			min-height: 100%;
			-webkit-backface-visibility: hidden;
			-webkit-transform-style: preserve-3d;
			-webkit-transition: all .15s ease-in-out;
		}

		.front {
			-webkit-transform: rotateY(0deg);
		}
		.back {
			-webkit-transform: rotateY(180deg);
		}
		&.flip .front {
			-webkit-transform: rotateY(-180deg);
		}
		&.flip .back {
			-webkit-transform: rotateY(0deg);
		}

		.back {
			div.right, div.wrong {
				margin-bottom: 5px;
				border-radius: 20%;
				box-shadow:
					0px -1px 2px rgba(0,0,0,0.2),
					0px 1px 2px rgba(255,255,255,0.2)
				;
				width: 77px;
				height: 77px;
				background: #24CB1E;
				color: #fff;
				font-size: 17px;
				font-weight: bold;
				line-height: 77px;


			}
			div.wrong {
				background: #FF3136;	
			}
		}
	}
}


footer {
	ol {
		list-style: none;
		margin: 0;
		padding: $gutter;
		text-align: center;
		li {
			margin: 5px;
			display: inline-block;
			text-indent: -99999px;
			list-style: none;

		
			width: 7px;
			height: 7px;
			border-radius: 50%;
			background: #ddd;
			
			&.y {
				background: #aaa;
			}
			&.n {
				background: red;
			}
		}
	}
}

